.product-container {
    padding: 1rem;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.section-title {
    text-align: center;
    font-size: 3rem;
}