.hero-container {
    min-height: 100svh;
    background-image: url('../../assets/img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-caption {
    background-color: rgb(0, 250, 0);
}