.sponsors-slider {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    & .card {
        display: grid;
        place-items: center;
        padding: 2rem;
        background-color: #141414;

    }
}