.adContainer {
    display: flex;
    justify-content: flex-end;
    background-image: url('../../assets/img/banner-headset.png');
    background-size: cover;
    background-repeat: no-repeat;



    & .adCaption {
        width: fit-content;
        background-color: red;
    }
}


.container {
    width: 100%;
    background-color: blueviolet;
}