.adContainer {
    background-image: url('../../assets/img/banner-headset.png');
    background-size: cover;
    background-repeat: no-repeat;



    & .adCaption {
        width: fit-content;
    }
}


.adContent {
    display: flex;
    justify-content: flex-end;
}

.adCaption {
    & .title {
        font-size: 4rem;
    }
}