.adContainer {
    background-image: url('../../assets/img/banner-headset.png');
    background-size: cover;
    background-repeat: no-repeat;

    & .adCaption {
        width: f;
        background-color: red;
    }
}