.adContainer {
    display: flex;
    justify-content: flex-end;
    background-image: url('../../assets/img/banner-headset.png');
    background-size: cover;
    background-repeat: no-repeat;

    & .container {
        background-color: blueviolet;
    }

    & .adCaption {
        width: fit-content;
        background-color: red;
    }
}