.card {
    padding: 1rem;

    & .card-img {
        position: relative;
        padding-top: 1rem;
        background-color: #0c1821;
        border-radius: .4rem;

        & .sold {
            position: absolute;
            padding: 1rem 2rem;
            background-color: red;
        }
    }
}