.card {
    padding: 1rem;

    & .card-img {
        position: relative;
        padding-top: 1rem;
        background-color: #0c1821;
        border-radius: .4rem;

        & .sold {
            position: absolute;
            padding: .5rem 2rem;
            background-color: #000;
            left: 10px;
            bottom: 10px;
            border-radius: 20rem;
            font-weight: bold;
        }
    }
}