.hero-container {
    background-image: url('../../assets//img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100svh;

    & .title {
        font-size: 6rem;
        font-weight: 500;
        text-align: center;
    }
}