.hero-container {
    display: grid;
    place-items: center;
    background-image: url('../../assets//img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100svh;

    & .title {
        font-size: 3.5rem;
        font-weight: 500;
        text-align: center;
    }

    & .text {
        margin: 0 auto;
        max-width: 600px;
        text-align: center;
    }
}