.hero-container {
    display: grid;
    place-items: center;
    background-image: url('../../assets//img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;


    & .title {
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
}